body {
  margin: 0;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  display: flex;
  background-color: white !important;
  flex-direction: row-reverse;
  padding: 1 !important;
}

.contact-picture{
  margin-bottom: 10vmin;
}

.columns .contact > a > img{
  width:10vmin;
  margin: 1vmin;
}

/* .columns .contact{ */
/*   margin-left: 10vmin; */
/* } */

.book-shelf{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.book{
  max-width: 20vmin;
  margin: 1vmin;
}

.andrewwebber{
  font-size: 6vmin;
  vertical-align: centered;
}

.lead{
border-bottom: 0px solid white;
}

.title-link > a{
  font-size: 3vmin;
  color: deeppink;
}

.span-black{
    color: black
}

.span-pink{
    color: deeppink
}

h1 {
    color: deeppink
}

a {
    color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: deeppink;
}

a:active {
  text-decoration: underline;
}

.skill-item {
  font-size: calc(2vmin);
  color: black;
}
